<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- start of the nav -->
    <%= render 'shared/blog_nav' %>
    <!-- end of the nav -->
    <main class="container">
      <div class="row g-5">
        <h2 class="pb-4 mb-4 fst-italic border-bottom">
          My Blog Post
        </h2>
          
        <div class="col-md-8">   
          <%= yield %>
        </div>
        <%= render 'shared/blog_sidebar' %>
        <!-- start of the footer -->
        <footer class="blog-footer">
          <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          <p>
            <a href="#">Back to top</a>
          </p>
        </footer>
        <!-- end of the footer -->

        <%#= render 'shared/nav', location: "bottom" %>    
        <%= source_helper "blog" %>
        <%= copyright_generator %>
      </div>
    </main>
  </body>
</html>
